<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321456573946-0ttr72larihfnl4ub7birv1uqaiscln6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321456573946-0ttr72larihfnl4ub7birv1uqaiscln6</string>
	<key>API_KEY</key>
	<string>AIzaSyCb7tiqsoztP_TV2UZk80RLuNGu6qLtGJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>321456573946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ElderiedMcKinney.FriendlyChatSwift</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-d8637</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-d8637.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321456573946:ios:582f2c719a066b18</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-d8637.firebaseio.com</string>
</dict>
</plist>